*$py.class
*.egg
*.gz
*.lock
*.log
*.obj
*.out
*.pid
*.py,cover
*.py[cod]
*.so
*.so.*
*.spec
*.swp
*.tar
*.tmp
*~
.DS_Store
._*
.eggs/
.env
.idea
.venv
.vimsession~
.virtualenv
.vs/
.vscode
/tags
__pycache__/
core
build
